<div class="row mb-4 justify-content-center">
  <%= link_to "ゲストログイン（閲覧用）", users_guest_sign_in_path, class: "btn btn-secondary", method: :post %>
</div>

<div class="form-group row">
  <div class="col">
    <h4 class="text-center border-bottom border-success pb-2 mb-4">
      新着店舗
    </h4>
    <div class="d-flex flex-wrap gap-4 justify-content-center">
      <% @stores.each do |store| %>
        <%= link_to store_path(store.id), class: "text-decoration-none" do %>
          <div class="card shadow-sm" style="width: 18rem;">
            <%= image_tag store.get_image(300, 200), class: "card-img-top rounded" %>
            <div class="card-body text-body">
              <h5 class="card-title text-primary"><%= store.name %></h5>
              <p class="card-text text-muted">¥<%= store.price.to_s(:delimited) %></p>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
    <div class="d-flex justify-content-end mt-3">
      <%= link_to "全ての店舗を見る >>", stores_path, class: "btn btn-outline-primary right-link" %>
    </div>
  </div>
</div>