<div class="container my-5">
  <!-- ヘッディング -->
  <div class="row justify-content-center mb-5">
    <h4 class="heading-title text-center">店舗詳細</h4>
  </div>

  <!-- 店舗情報 -->
  <div class="row d-flex align-items-center justify-content-center">
    <!-- 店舗画像 -->
    <div class="col-md-12 col-lg-4 text-center pb-3">
      <%= image_tag @store.get_image(300, 200), class: "img-fluid rounded" %>
    </div>

    <!-- 店舗詳細情報 -->
    <div class="col-sm-12 col-md-6 col-lg-6">
      <%# 各情報項目を表示 %>
      <% details = {
        "店舗名" => @store.name,
        "住所" => @store.address,
        "電話番号" => @store.tell_number,
        "価格" => "#{@store.price.to_s(:delimited)}円",
        "営業時間" => @store.business_hours,
        "説明" => @store.content
      } %>
      <% details.each do |label, value| %>
        <div class="row mb-3 align-items-center">
          <label class="col-md-5 col-lg-4 fw-bold"><%= label %></label>
          <div class="col-md-7 col-lg-8"><%= value %></div>
        </div>
      <% end %>
    </div>
  </div>

  <!-- 編集＆削除ボタン -->
  <div class="row mt-4">
    <div class="col-md-12 text-center">
      <%= link_to "編集する", edit_admin_store_path, class: "btn btn-primary mx-2" %>
      <%= link_to "削除する", admin_store_path(@store.id), method: :delete, class: "btn btn-danger mx-2", "data-confirm" => "本当に削除しますか？" %>
    </div>
  </div>
</div>