<header>
  <nav class="navbar navbar-expand-lg">
    <h1><%= link_to "LOGO", root_path %></h1>
    <% if user_signed_in? %>
      ようこそ、<%= current_user.family_name + current_user.first_name %>さん！
    <% end %>

    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav ml-auto">
        <% if user_signed_in? %>
          <!--ユーザーがログインしている時 -->
          <li>
            <%= link_to "マイページ", "#", class: "btn btn-outline-dark" %>
          </li>
          <li>
            <%= link_to "店舗一覧", "#", class: "btn btn-outline-dark" %>
          </li>
          <li>
            <%= link_to "いいね一覧", "#", class: "btn btn-outline-dark" %>
          </li>
          <li>
            <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "btn btn-outline-dark" %></li>
          </li>

        <% elsif admin_signed_in? %>
          <!-- 管理者がログインしている時 -->
          <li>
            <%= link_to "店舗一覧", admin_stores_path, class: "btn btn-outline-dark" %>
          </li>
          <li>
            <%= link_to "会員一覧", admin_users_path, class: "btn btn-outline-dark" %>
          </li>
          <li>
            <%= link_to "レビュー履歴一覧" , "#", class: "btn btn-outline-dark" %>
          </li>
          <li>
            <%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class: "btn btn-outline-dark" %>
          </li>

        <% else %>
          <!-- ログインしていない時 -->
          <li>
            <%= link_to "About", about_path, class: "btn btn-outline-dark" %>
          </li>
          <li>
            <%= link_to "店舗一覧", "#", class: "btn btn-outline-dark" %>
          </li>
          <li>
            <%= link_to "新規登録", new_user_registration_path, class: "btn btn-outline-dark" %>
          </li>
          <li>
            <%= link_to "ログイン", new_user_session_path, class: "btn btn-outline-dark" %>
          </li>
        <% end %>
        <li>
          <%#= render "layouts/search" %>
        </li>
      </ul>
    </div>
  </nav>
</header>