<!DOCTYPE html>
<html lang="ja">
  <head>
    <title>Zenmashi</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/700e8b48e0.js" crossorigin="anonymous"></script>
  </head>

  <body>
    <!-- ヘッダー -->
    <%= render 'layouts/header' %>

    <% flash.each do |key, message| %>
      <div class="alert alert-<%= key == 'notice' ? 'success' : 'danger' %>">
        <%= message %>
      </div>
    <% end %>

    <div class="container">
      <%= yield %>
    </div>

    <!-- Footer -->
    <%= render 'layouts/footer' %>
  </body>
</html>
